.mySwiper .swiper-wrapper {
  justify-content: center;
}
.mySwiper .swiper-slide {
  margin: 40px 0;
  cursor: pointer;
}
.mySwiper .swiper-slide.swiper-slide-thumb-active {
  border-bottom: 5px solid #1b5e20;
}

.mySwiper2 img {
  width: 100%;
}
.mySwiper img {
  width: 100%;
}
